:root {
  --font-sans: "Lato", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* Brand */
  --color-primary: #3254FF;
  --color-primary-100: #243FDB;
  --color-primary-200: #192DB7;
  --color-primary-300: #0F1E93;
  --color-primary-400: #09147A;

  /* Text Dark & Light */
  --color-text-dark-primary: #3A3541DE;
  --color-text-dark-secondary: #3A3541AD;
  --color-text-dark-disabled: #3A354161;

  --color-text-light-primary: #E7E3FCDE;
  --color-text-light-secondary: #E7E3FCAD;
  --color-text-light-disabled: #E7E3FC61;

  /* Other */
  --color-other-paper: #22282A;
  --color-other-body: #2F3334;
  --color-other-header: #181A1C;
  --color-other-extra: #3D4142;
  --color-other-outline-border: #E7E3FC3B;
  --color-other-input-border: #E7E3FC38;
  --color-other-field-bg: #E7E3FC0A;
  --color-other-chip-bg: #E7E3FC14;

  /* Info */
  --color-info: #0586FF;
  --color-info-pressed: #024DB7;
  --color-info-hover: #0367DB;
  --color-info-bg: #CDF1FF4D;

  /* Success */
  --color-success: #9FE04A;
  --color-success-pressed: #60A125;
  --color-success-hover: #7EC036;
  --color-success-bg: #F4FDDBCC;

  /* Warning */
  --color-warning: #FFE70F;
  --color-warning-pressed: #B7A207;
  --color-warning-hover: #DBC40A;
  --color-warning-bg: #FFFCCFCC;

  /* Error */
  --color-error: #FF5B3A;
  --color-error-pressed: #B71F1D;
  --color-error-hover: #DB3A2A;
  --color-error-bg: #FFEAD780;

  /* Greyscale */
  --color-greyscale-50: #FAFAFA;
  --color-greyscale-100: #F5F5F5;
  --color-greyscale-200: #EEEEEE;
  --color-greyscale-300: #E0E0E0;
  --color-greyscale-400: #BDBDBD;
  --color-greyscale-500: #9E9E9E;
  --color-greyscale-600: #757575;
  --color-greyscale-700: #616161;
  --color-greyscale-800: #424242;
  --color-greyscale-900: #212121;

  /* Desktop default */
  --btn-h: 50px;
  --btn-fs: 16px;

  --input-h: 50px;
  --input-fs: 16px;
  --input-label-fs: 16px;

  --text-fs-48-24: 48px;
  --text-fs-32-20: 32px;
  --text-fs-32-18: 32px;
  --text-fs-18-14: 18px;
  --text-fs-18-12: 18px;
  --text-fs-18-10: 18px;
  --text-fs-16-10: 16px;
  --text-fs-14-10: 14px;

  --space-80-20: 80px;
  --space-80-12: 80px;
  --space-60-20: 60px;
  --space-40-24: 40px;
  --space-30-20: 30px;
  --space-25-6: 25px;
  --space-12-6: 12px;
  --space-8-4: 8px;

}

/* Tablet */
@media (max-width: 1024px) {
  :root {
    --btn-h: 44px;
    --btn-fs: 13px;

    --input-h: 44px;
    --input-fs: 13px;
    --input-label-fs: 13px;

    --text-fs-48-24: 32px;
    --text-fs-32-20: 24px;
    --text-fs-32-18: 24px;
    --text-fs-18-14: 16px;
    --text-fs-18-12: 14px;
    --text-fs-18-10: 14px;
    --text-fs-16-10: 12px;
    --text-fs-14-10: 12px;

    --space-80-20: 40px;
    --space-80-12: 40px;
    --space-60-20: 30px;
    --space-40-24: 32px;
    --space-30-20: 24px;
    --space-25-6: 12px;
    --space-12-6: 8px;
    --space-8-4: 6px;

  }
}

/* Mobile */
@media (max-width: 640px) {
  :root {
    --btn-h: 30px;
    --btn-fs: 10px;

    --input-h: 28px;
    --input-fs: 20px;
    --input-label-fs: 10px;

    --text-fs-48-24: 24px;
    --text-fs-32-20: 20px;
    --text-fs-32-18: 18px;
    --text-fs-18-14: 14px;
    --text-fs-18-12: 12px;
    --text-fs-18-10: 10px;
    --text-fs-16-10: 10px;
    --text-fs-14-10: 10px;

    --space-80-20: 20px;
    --space-80-12: 12px;
    --space-60-20: 20px;
    --space-40-24: 24px;
    --space-30-20: 20px;
    --space-25-6: 6px;
    --space-12-6: 6px;
    --space-8-4: 4px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  line-height: 1.4;
  padding: 0;
  background-color: var(--color-other-header);
}

a {
  color: inherit;
}