.page.register {
  min-height: 100vh;
  height: auto;
  overflow: auto;
  background-image: url('../../../assets/images/register-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 26px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--any-size-30-20);
}

.field.password {
  display: flex;
  flex-direction: column;
  gap: var(--any-size-12-6);
}

.other {
  display: flex;
  align-items: center;
  gap: 8px;
}

.other>p {
  flex-grow: 1;
  font-size: var(--any-size-14-10);
  color: var(--color-text-light-secondary);
}

.other a {
  /* font-size: var(--any-size-16-10); */
  color: var(--color-greyscale-50);
  background-color: transparent;
}

.other a {
  font-weight: 600;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--any-size-8-4)
}

.action>* {
  width: 100%;
  text-align: center;
}

.action>span {
  font-size: var(--any-size-14-10);
  color: var(--color-text-light-disabled);
}