header,
footer {
  padding-inline: var(--any-size-80-20);
  background-color: var(--color-other-header);
}

/* HEADER */

.site-header {
  color: var(--color-greyscale-50);
  padding-block: var(--any-size-25-6);
  position: sticky;
  top: 0;
  z-index: 7;
}

.nav-links {
  flex-grow: 1;
}

.nav-links a {
  font-size: var(--any-size-18-10);
}

.nav,
.nav-links {
  display: flex;
  align-items: center;
  gap: var(--any-size-80-12);
}

.nav>.logo img {
  height: 44px;
}

.nav-links {
  list-style: none;
}

.nav-user {
  width: auto;
}

.nav-user>button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-greyscale-50);
}

.nav-user>button>img {
  width: var(--any-size-40-20);
  aspect-ratio: 1;
  border-radius: 50%;
}

.nav-user>button>svg {
  width: var(--any-size-28-16);
  height: var(--any-size-28-16);
  aspect-ratio: 1;
  border-radius: 50%;
}

/* MAIN */

.page.home {
  display: flex;
  flex-direction: column;
  color: var(--color-greyscale-50);
}

/* let sections fill the container normally */
.page.home>* {
  width: 100%;
}

/* remove this entirely:
.page.home { height: 500px; }
*/


.hero {
  position: relative;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-block: var(--any-size-80-40);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-inline: var(--any-size-80-20);
  padding-block: var(--any-size-80-20);
}


.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 0.75) 40%,
      rgba(0, 0, 0, 0.4) 65%,
      rgba(0, 0, 0, 0.15) 80%,
      rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 1;
}

#hero-title {
  font-size: var(--any-size-48-24);
  margin-bottom: var(--any-size-18-10);
  /* line-height: 100%; */
}

.meta {
  display: flex;
  align-items: center;
  margin-bottom: var(--any-size-18-10);
  font-size: var(--any-size-20-12);
  font-weight: 700;
}


.hero-content>.description {
  max-width: 800px;
  font-size: var(--any-size-18-12);
  margin-bottom: var(--any-size-32-20);
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* word-break: break-all; */
}

.hero .actions,
.actions .left-side {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions .left-side {
  flex-grow: 1;
}


.content-rows {
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  flex-direction: column;
  gap: var(--any-size-32-20);
  padding-inline: var(--any-size-80-20);
  padding-block: var(--any-size-40-20);
}

.content-row app-media-card {
  --card-w: 234px;
}

.content-row.continue app-media-card {
  --card-w: 302px;
}

.row-head h2 {
  font-size: var(--any-size-32-20);
  font-weight: 700;
  line-height: 100%;
}

.new-episode {
  display: inline-block;
  padding: 4px 10px;
  background-color: var(--color-primary);
  color: var(--color-greyscale-50);
  border-radius: 24px;
  font-size: var(--any-size-14-10);
  line-height: 100%;
  font-weight: 400;
}

.top-10 {
  padding: 4px;
}


/* FOOTER */

.site-footer {
  position: relative;
  padding-block: var(--any-size-60-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-light-secondary);
  border-top: 1px solid #E7E3FC3B;

}


.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--any-size-28-16);
}

.footer-brand p {
  font-size: var(--any-size-16-12);
}

.footer-brand img {
  height: var(--any-size-44-24);
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 100px;
}


.footer-nav.mobile {
  display: none;
}

.footer-nav.desktop strong {
  display: block;
  color: var(--color-greyscale-50);
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.footer-nav ul {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  column-gap: 1.2em;
  row-gap: 0.25em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav ul li:hover {
  color: var(--color-greyscale-50);
}

@media (max-width: 1024px) {

  .hero {
    height: 364px;
  }

  .content-row app-media-card {
    --card-w: 156px;
  }

  .content-row.continue app-media-card {
    --card-w: 304px;
  }
}

@media (max-width: 640px) {

  .hero {
    min-height: 100px;
    max-height: 225px;
  }

  .hero-content>.description {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }

  .content-row app-media-card {
    --card-w: 96px;
  }

  .content-row.continue app-media-card {
    --card-w: 309px;
  }

  .site-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-nav.desktop {
    display: none;
  }

  .footer-nav.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 40px;
  }

  .footer-nav.mobile button {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
  }

  .footer-nav.mobile span {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .footer-nav.mobile button img {
    width: 24px;
    aspect-ratio: 1;

  }

}